@page "/persona/addpersona"
@using DurbelALora.Model
@using DurbelALora.Service
@inject IPersonaService service
@inject NavigationManager navigationManager

<h1>AddPersona</h1>

<h4>Persona</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="col-md-6" style="padding-bottom:20px">
            <div class="form-group">
                <div class="input-group">
                    <label for="Nombre" class="input-group-text">Nombre Completo:</label>
                    <input form="Nombre" class="form-control" type="text" @bind="@obj.Nombre" />
                </div>
            </div>
        </div>

        <div class="col-md-6" style="padding-bottom:20px">
            <div class="form-group">
                <div class="input-group">
                    <label for="Nombre" class="input-group-text">Fecha de Nacimiento:</label>
                    <input form="Nombre" class="form-control" type="date" max="@DateTime.Now" @bind="@obj.FechaDeNacimiento" />
                </div>
            </div>
        </div>

        <div class="card-footer">
            <div class="col-md-12">
                <center>
                    <div class="form-group">
                        <input type="button" class="btn btn-success" @onclick="@AddComp" value="Guardar" />
                        <input type="button" class="btn btn-primary" @onclick="@back" value="Volver" />
                    </div>
                </center>
            </div>
        </div>
    </div>
</div>



@code {
    Persona obj = new Persona();

    protected async void AddComp()
    {
        await service.Add(obj);
        navigationManager.NavigateTo("client");
    }

    void back() => navigationManager.NavigateTo("client");

}
